{% extends 'base.html' %}

{% block titulo %} Editar Usuario {% endblock titulo %}

{% block content %}
<style>

</style>
   <form method="POST">
    <h1>EDITAR {{user.nome}}</h1>
        <div class="mb-3">
        <label class="form-label">Nome de usuário</label>
        <input type="text" name="nome" class="form-control" value="{{user.nome}}" />
      </div>
      <div class="mb-3">
        <label class="form-label">E-Mail</label>
        <input type="email" name="email" class="form-control" value="{{user.email}}" />
      </div>

      <div class="mb-3">
        <label class="form-label">Senha</label>
        <input type="password" name="senha" class="form-control" />
      </div>

    <button type="submit" class="btn btn-success w-100">Editar</button>
    </form>
{% endblock%}
