{% extends 'base.html' %}
{% block titulo %} Painel do usuário {% endblock %}

{% block content %}

<div class="profile-panel">

    <div class="profile-info">

        <h1 class="profile-title">
            P3RF1L D0 USU4R10
        </h1>

        <div class="profile-item">
            <span class="label">N0M3</span>
            <span class="value">{{ user.nome }}</span>
        </div>

        <div class="profile-item">
            <span class="label">3M41L</span>
            <span class="value">{{ user.email }}</span>
        </div>



        <div class="profile-actions">
            <a href="{{ url_for('user.editar_user', id=user.id) }}"  class="btn btn-warning">
                Editar Perfil
            </a>

            <a href="{{ url_for('user.remover_user', id=user.id) }}"  class="btn btn-warning">
                Apagar Perfil
            </a>
            <a href="{{ url_for('user.sair') }}"  class="btn btn-warning">
                Sair
            </a>


        </div>

    </div>

    <div class="profile-avatar">

        <div class="avatar-placeholder">
            FOTO
        </div>

    </div>

</div>

{% endblock %}